:root {
  --clam: rgb(133, 133, 189);
  --ltorange: rgb(199, 139, 65);
}

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  /* height: auto; */
}

header {
  background: url("../images/sunset.png") no-repeat center;
  background-size: cover;
  height: 800px;
  position: relative;
} 

header .page-title {
  border-radius: 5px;
  border-bottom-left-radius: 45px;
  background-color: azure;
  font-style: oblique;
  margin-left: 85px;
  padding-left: 40px;
  text-align: left;
}

.subtitle-container {
  border-bottom-left-radius: 75px;
  height: 50px;
  background-color: rgb(50, 182, 138);
  margin-left: 125px;
  margin-top: 20px;
  padding: 0px; 
  text-align: right; 
  font-style: oblique;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page-subtitle {
  margin-right: 10px;
}

nav { 
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  width: 100%; 
} 

nav ul {
  display: flex;
  flex-direction: row;
  float: right;
  background-color: var(--clam);
  text-align: center;
  overflow: hidden;
  margin-left: 25%;
  padding-left: 75px;
  border-bottom-left-radius: 50px;
}

ul li {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: var(--clam);
  width: 150px;
  float: left;
  padding: 2px;
  margin: 2px;
}

nav a {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  text-decoration: none;
  border-style: double;
  margin: 2px;
  padding: 2px;
}

a:link {
  color: midnightblue;
}

nav ul li a:visited {
  color: beige;
}

nav ul li a:hover {
  background-color: lightgray;
  color: mediumseagreen;
}

.about-container {
  display: flex;
  flex-direction: column;
  background-image: url("../images/DSC00075.JPG");
  border-left: solid 15px;
  border-color: chocolate;
  position: relative;
  height: 550px;
  background-size: cover;
  background-position: left center;
  border-top: 10px solid gainsboro;
}

.about-container h2 {
  color: darkgray;
  margin-left: 10px;
}

.about-container p {
  display: flex;
  margin-left: 60px;
  /* flex-wrap: nowrap; */
  font-size: 1.2em;
  font-weight: 700;
  color: var(--ltorange);
}

.about-container img {
  border: 2px solid;
  float: left;
  border-radius: 50%;
  padding: 5px;
  margin-top: 5px;
  width: 150px;
}

section {
  height: 960px;
}

.mywork-container {
  background-color: teal;
  min-width: 100%;
  min-height: 100%;
  border-top: 10px solid gainsboro;
  display: flex;
  flex-direction: column;
  border-left: solid 15px;
  border-color: chocolate;
}

section div {
  background-color: darkslategray;
  vertical-align: middle;
  height: 60px;
  color: black;
  text-indent: 10px;
  line-height: 60px;
}

section img {
  max-height: 100%;
  max-width: 100%;
}

.refactor img {
  display: flex;
  margin-right: auto;
  margin-top: 0;
  width: 45%;
  border-left: 7px solid;
  border-left-color: indigo;
}

section h3 {
  margin-left: 150px;
}

.refactor figure {
  background-color: indigo;
  background-size: cover;
  color: floralwhite;
}


@media screen and (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
  }

  .about-container {
    font-size: .8em;
    max-width: 100%;
    min-width: 40%;
  }
  }

@media screen and (max-width: 544px) {
  .about-container {
    font-size: .7em;
  }

}